{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <h3>Sortie 1</h3>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">S'inscrire</button>
                    <button type="button" class="btn btn-default">Détail de la sortie</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <ul class="list-inline">
                <li> <strong>Date</strong></li>
                <li><strong>Heure de rdv</strong></li>
                <li><strong>Lieu de rdv</strong></li>
                <li><strong>Heure de retour</strong></li>
                <li></li>
            </ul>
        </div>
    </div>

{% endblock %}