{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}

    <!--{# for membre in listMembres #}-->
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>




    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group" >
                <h3>Batterie/Percu</h3>

                <div class="input-group-btn" style="padding-right: 250px">

                    <button type="button" class="btn btn-default">Supprimer</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Modifier</button>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Profil</button>

                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Cotisation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Erwan</td>
                    <td>Raulo</td>
                    <td>erwan.raulo2020@toto.fr</td>
                    <td>OUI</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- {# endfor #} -->

{% endblock %}