{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class=" toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Mael Pavec</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://success.salesforce.com/resource/1499817600000/sharedlayout/img/new-user-image-default.png" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Date de naissance</td>
                                    <td>01/06/1988</td>
                                </tr>
                                <tr>
                                    <td>Instrument</td>
                                    <td>Batterie</td>
                                </tr>
                                <tr>
                                    <td>Role dans l'association</td>
                                    <td>Président</td>
                                </tr>
                                <tr>
                                    <td>Role sur le role</td>
                                    <td>Administrateur</td>
                                </tr>
                                <tr>
                                    <td>Addresse</td>
                                    <td>Quimperlé</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">president@support.com</a></td>
                                </tr>
                                <tr>
                                <td>Numero de téléphone</td>
                                <td>06-45-87-35-98</td>
                                </tr>
                                <tr>
                                    <td>Cotisation</td>
                                    <td>Oui</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Envoyer un message</button>
                    <span class="pull-right">
                        <button type="button" class="btn btn-default"><a href=" {{ path('em_profil_sup') }}"></a>Supprimer</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Modifier</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



