{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}

    <!--{# for reunion in listReunions #}-->
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".add-example-modal-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>






        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Lieu</th>
                    <th>Sujet</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20 aout 2017</td>
                    <td>10h30</td>
                    <td>Quimperlé</td>
                    <td>Programme musical</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- {# endfor #} -->


    <div class="modal fade add-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter une reunion</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary"><a href=" {{ path('em_reunion_add') }}"></a> Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade edit-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifier</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary"><a href=" {{ path('em_reunion_sup') }}"></a>Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
