{% extends 'public/layout.html.twig' %}

{% block content %}

    <div class="container marketing">
        <div>
            <h1>Presentation de la formation</h1>
            <p>Omnino virosque Galos eam interpretemur nusquam qui virosque vitae Paulos vitae eos his vita his contenta eos reperiuntur virosque habentur metiamur qui eos interpretemur nec est nusquam habentur quidam eos numeremus Paulos magnificentia communis qui omnino reperiuntur reperiuntur ut habentur verborum sermonisque virosque nostri virosque omnino ex verborum nostri metiamur his eam habentur Paulos quidam sermonisque his eos ex virtutem virtutem reperiuntur Paulos ex est nec  </p>
        </div>
        <div class="jumbotron">
            <h1>Evenement important</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">En savoir plus</a></p>
        </div>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#evenements" aria-controls="evenements" role="tab" data-toggle="tab">Evenements</a></li>
                <li role="presentation"><a href="#palmares" aria-controls="palmares" role="tab" data-toggle="tab">Palmares</a></li>
                <li role="presentation"><a href="#galeriePhotos" aria-controls="galeriePhotos" role="tab" data-toggle="tab">Galerie photos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="evenements">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 sidebar-perso">
                            <ul>
                                <li>
                                    <div >
                                        <h3>Mon evenement </h3>
                                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                                        </p>
                                    </div>

                                </li>
                                <li>
                                    <div >
                                        <h3>Mon evenement </h3>
                                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                                        </p>
                                    </div>

                                </li>
                                <li>
                                    <div >
                                        <h3>Mon evenement </h3>
                                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                                        </p>
                                    </div>

                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-9 col-md-10 main">
                            <div class="thumbnail">
                                <h1>Mon evenement </h1>
                                <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                                    locis Pompeius verum regiones pari aptae et speciem navigerum Iudaeis locis medelarum verum
                                    provinciae et provinciae emergunt regiones provinciae Pompeius verum suapte Pompeius in multiplicium
                                    calentes usus speciem iuris formavit nusquam in natura et domitis calentes calentes visitur formavit
                                    Pompeius quoque nusquam aquae provinciae sorte et suapte pari tractibus Iudaeis plurimis his provinciae
                                    natura locis speciem aptae verum locis regiones plurimis in aquae emergunt tractibus aptae suapte et
                                    dictione delata flumen verum sed multiplicium sed plurimis verum sed in aptae nusquam nusquam ad et
                                    sorte emergunt et visitur his provinciae.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="palmares">...</div>
                <div role="tabpanel" class="tab-pane" id="galeriePhotos">...</div>
            </div>

        </div>

        </div>
{% endblock %}