{% extends 'public/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="container">
            <div id="calendar"></div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                firstDay: 1,
                nowIndicator:true,
                locale: 'fr',
                columnFormat: 'dddd',
                events: function(start, end, timezone, callback){
                    $.ajax({
                        url:'/dataEvent',
                        dataType: 'json',
                        success: function(data){
                            var events = [];
                            $(data.Reunions).each(function(){
                                events.push({
                                    title: $(this).attr('titre'),
                                    start: $(this).attr('dateDebut').date,
                                    end: $(this).attr('dateFin').date
                                });
                            });
                            callback(events);
                        }
                    });
                }
            })

        });
    </script>
{% endblock %}
