{% extends 'public/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="container">
            <div id="calendar"></div>
        </div>
        {% if evenement is defined %}
        <div class="modal fade" id="eventModal">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>{{ evenement.titre }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ evenement.description }}</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" id="eventModalClose" data-dismiss="modal" >Close</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                firstDay: 1,
                nowIndicator:true,
                locale: 'fr',
                columnFormat: 'dddd',
                refetchResourcesOnNavigate: true,
                events: {
                    url:'/dataEvent',
                    type: 'POST',
                }
            })
        });
    </script>
    {% if evenement is defined %}
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#eventModal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
