{% extends 'public/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul>
                <li>
                    <div >
                        <h3>Mon palmares </h3>
                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                        </p>
                    </div>

                </li>
                <li>
                    <div >
                        <h3>Mon palmares </h3>
                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                        </p>
                    </div>

                </li>
                <li>
                    <div >
                        <h3>Mon palmares </h3>
                        <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                        </p>
                    </div>

                </li>

            </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <div class="thumbnail">
                <h1>Mon palmares </h1>
                <p class="text-justify">Aquae iuris tractibus navigerum dictione natura in calentes his usus
                    locis Pompeius verum regiones pari aptae et speciem navigerum Iudaeis locis medelarum verum
                    provinciae et provinciae emergunt regiones provinciae Pompeius verum suapte Pompeius in multiplicium
                    calentes usus speciem iuris formavit nusquam in natura et domitis calentes calentes visitur formavit
                    Pompeius quoque nusquam aquae provinciae sorte et suapte pari tractibus Iudaeis plurimis his provinciae
                    natura locis speciem aptae verum locis regiones plurimis in aquae emergunt tractibus aptae suapte et
                    dictione delata flumen verum sed multiplicium sed plurimis verum sed in aptae nusquam nusquam ad et
                    sorte emergunt et visitur his provinciae.

                </p>
            </div>
        </div>
    </div>
{% endblock %}